@font-face {
  font-family: 'iconfont';
  /* project id 2137607 */
  src: url('//at.alicdn.com/t/font_2137607_pcfoyo4jo8j.eot');
  src: url('//at.alicdn.com/t/font_2137607_pcfoyo4jo8j.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_2137607_pcfoyo4jo8j.woff2') format('woff2'), url('//at.alicdn.com/t/font_2137607_pcfoyo4jo8j.woff') format('woff'), url('//at.alicdn.com/t/font_2137607_pcfoyo4jo8j.ttf') format('truetype'), url('//at.alicdn.com/t/font_2137607_pcfoyo4jo8j.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 40px;
  color: gray;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-xiaoyuhao:before {
  content: "\e6f4";
}
.icon-dayuhao:before {
  content: "\e74e";
}
